*{
	background-color: #EBF4FA;	
}

body{
	font-family: Garamond;
}

.header-image{
	height: 250px;
	border-radius: 100px;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
}

.image-container {
	text-align: center;
}

h1 {
	text-align: center;
	color: #2B65EC;
}

h2 {
	text-align: center;
	color: #2B65EC;
}

.major_concept{
	text-align: left;
	background-color: #294860;
	border-radius: 40px;
	color: black;
	padding: 10px;
	margin: 10px auto;
}

.content{
	background-color: #DFEAF1;
	padding: 4px;
	margin: 10px;
	border-radius: 4px;
	color: black;
}